@model BBRG.Models.Assessment

@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>
@Html.ActionLink("Edit", "Edit", "Assessments", new { id = Model.Id }, null)

<table class="table">
    <thead>
        <tr>
            <th>
                Region
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (var item in Model.RegionList)
            {
                <td>
                    @item.
                </td>
            }
        </tr>

    </tbody>


</table>